<ul class='aside-ul'>    
    <li>
        <h4>用户管理</h4>
        <ul class="text-center">
                <li  class="list-group-item"> 
                    <a href="#" target="rightIfram"> 
                        用户列表
                    </a>
                </li> 
                <li  class="list-group-item"> 
                    <a href="#" target="rightIfram"> 
                        增加用户
                    </a>
                </li> 
        </ul>
    </li> 
    <li>
        <h4>角色管理</h4>
        <ul class="text-center">
                <li  class="list-group-item"> 
                    <a href="/admin/role/list" target="rightIfram"> 
                        角色列表
                    </a>
                </li> 
                <li  class="list-group-item"> 
                    <a href="/admin/role/add" target="rightIfram"> 
                        增加角色
                    </a>
                </li> 
        </ul>
    </li> 
    <li>
        <h4>权限管理</h4>
        <ul class="text-center">
                <li  class="list-group-item"> 
                    <a href="#" target="rightIfram"> 
                        权限列表
                    </a>
                </li> 
                <li  class="list-group-item"> 
                    <a href="#" target="rightIfram"> 
                        增加权限
                    </a>
                </li> 
        </ul>
    </li> 
</ul> 