<link rel='stylesheet' href="/public/admin/css/base.css">
<link rel='stylesheet' href="/public/admin/css/bootstrap.min.css">
<div class="panel panel-default">              
  <div class="panel-heading">
      编辑角色
  </div>
  <div class="panel-body">
          <form class='input-form' action="/admin/role/doEdit" method="post">
              <ul>
                  <input type="hidden" name="_csrf" value="{{csrf}}">
                  <input type="hidden" name="_id" value="{{role._id}}">
                  <li>  
                      角色名称: 
                      <input type="text" name="role_name" value={{role.role_name}} /></li>
                  <li>
                      角色描述:
                      <textarea name="role_desc" id="" cols="60" rows="8">{{role.role_desc}}</textarea>
                  </li>
                  <li>
                    角色状态:
                    {% if role.role_status==1 %}
                    <input name="role_status" type="checkbox" checked > 有效
                    {% else %}
                    <input name="role_status" type="checkbox"> 有效
                    {% endif %}
                </li>

                  
                  <li>
                      <br/>
                      <button type="submit" class="btn btn-primary btn-lg active">提交</button>
                  </li>
              </ul>
          </form>
  </div>
</div>